body {
  background-color: #e6e8eb;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #071c4d;

      &.active {
        font-weight: bold;
        color: #071c4d !important;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;

  height: 70px;
  border-radius: 0px;
}

.btn-login {
  background-color: #071c4d;
  color: #ffff;

  &:hover {
    background-color: #153786;
    color: #ffff;
  }
}

// Header
header {
  padding: 180px 0px 165px;
  margin-top: -70px;

  background-image: url("../images/header-img.jpg");
  background-size: cover;
  color: #e6e8eb;

  h1,
  p {
    color: #ffff;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 50px;
  }
  p {
    font-size: 22px;
  }

  .btn-get-started {
    background-color: #f5791a;
    color: #ffff;

    &:hover {
      background-color: #ff8b32;
      color: #ffff;
    }
  }
}
